# Forked off xlogin@.service

[Unit]
Description=Fullscreen Qt-compositor login for app %i
After=x@vt7.service systemd-user-sessions.service
Wants=x@vt7.service
Conflicts=getty@tty7.service

[Service]
User=root
WorkingDirectory=~
TTYPath=/dev/tty7
PAMName=login
ExecStart=-/bin/qlaunchfs -plugin CECKeyboard %i
Restart=on-failure

[Install]
WantedBy=graphical.target
