# Forked off xlogin@.service

[Unit]
Description=Fullscreen Qt-compositor login for user %i
After=x@vt7.service systemd-user-sessions.service
Wants=x@vt7.service
Conflicts=getty@tty7.service

[Service]
EnvironmentFile=/etc/profile.d/qpi.sh
User=%i
WorkingDirectory=~
TTYPath=/dev/tty7
PAMName=login
ExecStart=-/bin/qlaunchfs ./qlaunchfs-boot
Restart=on-failure

[Install]
WantedBy=graphical.target
Alias=display-manager.service
